<section id="tangerine_module_heading">
   <div class="container">
      <div class="tangerine_center text-center" style='margin: 1rem 0;'>
         <div class="row" style='align-items: center;'>
            <div class="col-lg-4 col-md-4 col-sm-12" style='text-align: left;'>
               <img src='./images/tangerine.png' alt='logo' style="width: 80%;">
            </div>
         </div>
      </div>
   </div>
</section>
<section id="tangerine_module_content" style="padding-top: 20px;">
   <div class="container">
      <div class="tangerine_center text-center">
         <h4 style="font-size: 32px;font-weight: 600;color: #FFBD59;margin-bottom: 20px;">Odoo ViettelPost Connector</h4>
         <hr style="width: 100px;border-width: 2px;border-color: #FFBD59;" />
         <p style="color: #777;font-size: 18px;margin: 0;letter-spacing: 1px;">
             The Odoo ViettelPost Connector module is an integrated product between the Odoo application and
             the ViettelPost carrier. The application provides features, through the API manipulated directly
             into the dashboard of ViettelPost.
         </p>
      </div>
   </div>
</section>

<!-- feature -->
<section id="tangerine_feature" style="padding-top: 50px;">
   <div class="container">
        <div class="tangerine_center text-center">
            <h4 style="font-size: 28px;font-weight: 600;color: #FFBD59;margin-bottom: 10px;">Hot Features</h4>
            <hr style="width: 100px;border-width: 2px;border-color: #FFBD59;" />
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                    <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Create waybill from Odoo
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                    <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Print and save waybill image
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                    <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Update status waybill
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                    <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Tracking log connect API
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                    <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Provinces data synchronous
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                    <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Districts data synchronous
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                   <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Wards data synchronous
                   </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                   <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Login and get token
                   </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                   <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Test connection
                   </span>
                </div>
             </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                   <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Post offices data synchronous
                   </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                   <span style="color: #212121;font-weight: 600;vertical-align: middle;"> Services data synchronous
                   </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                   <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Extend services data synchronous
                   </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                   <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Warehouses data synchronous
                   </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                   <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Configuration warehouse ViettelPost
                   </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tangerine_icon" style="
                        border: 1px solid #aaa;
                        padding: 10px;
                        margin-bottom: 20px;
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
                        display: flex;
                        align-items: center;
                        border-radius: 10px;">
                   <span class="fa fa-check-circle-o" style="color: #FFBD59;
                      font-size: 30px;
                      margin-right: 10px;"></span>
                   <span style="color: #212121;font-weight: 600;vertical-align: middle;padding-left: 10px;"> Configuration endpoints of API ViettelPost
                   </span>
                </div>
            </div>
        </div>
   </div>
</section>
<section id="tangerine_tab" style="padding-top: 50px;">
    <div class="container">
        <ul class="nav nav-pills justify-content-center"
            role="tablist"
            style="justify-content: center;padding-bottom: 10px;">
            <li class="nav-item"
                style="color: #fff;border-radius: 0;font-weight: 600;font-size: 14px;margin: 0 5px;">
                <a class="nav-link active"
                   id="pill-guidelines-tab"
                   data-toggle="pill"
                   role="tab"
                   href="#guidelines"
                   aria-controls="guidelines"
                   aria-selected="true"
                   style="color: #FFBD59">Setup & guidelines</a>
            </li>
            <li class="nav-item"
                style="color: #fff;border-radius: 0;font-weight: 600;font-size: 14px;margin: 0 5px;">
                <a class="nav-link"
                   id="pill-release-tab"
                   data-toggle="pill"
                   role="tab"
                   href="#release"
                   aria-controls="release"
                   aria-selected="false"
                   style="color: #FFBD59">Releases</a>
            </li>
            <li class="nav-item"
                style="color: #fff;border-radius: 0;font-weight: 600;font-size: 14px;margin: 0 5px;">
                <a class="nav-link"
                   id="pill-contact-tab"
                   data-toggle="pill"
                   role="tab"
                   href="#contact"
                   aria-controls="contact"
                   aria-selected="false"
                   style="color: #FFBD59">Contact me</a>
            </li>
        </ul>
        <hr style="width: 100px;border-width: 2px;border-color: #FFBD59;" />
        <div class="tab-content" style="margin-top: 20px;">
            <!-- tab 1 -->
            <div id="guidelines"
                 class="tab-pane fade show active"
                 role="tabpanel"
                 aria-labelledby="pill-guidelines-tab">
                <section id="tangerine_tab_features" style="padding-top: 30px;">
                    <div class="container">
                        <!-- Getting started -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">I. Getting started</p>
                            <ul type="disc">
                                <li>
                                    <p>
                                      Install package selenium version 4.6.0.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                      Install module Odoo ViettelPost Connector.
                                    </p>
                                </li>
                                <img alt="step-2" src="./images/step2.png" style="height: auto; width: 100%" />
                            </ul>
                        </div>
                        <!-- Login and get token -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">II. Login and get token</p>
                            <p>
                              <strong>Summary:</strong> Login and get the token. This token will
                              help authenticate API connections with ViettelPost.
                            </p>
                            <p>
                              <strong>Path:</strong> ViettelPost/Configuration/ViettelPost
                              API Technical/Connection Config
                            </p>
                            <p>
                              <strong>Note:</strong> (1) & (2): The username and password
                              registed with viettelpost.
                            </p>
                            <p>
                              <strong>Step 1:</strong> Enter username<sup>(1)</sup> and
                              password<sup>(2)</sup>. Press button Get token.
                            </p>
                            <img alt="step-3" src="./images/step3.png" style="height: auto; width: 100%" />
                        </div>
                        <!-- Test Connection -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">III. Test Connection</p>
                            <p>
                              <strong>Summary:</strong> Check connection with ViettelPost's
                              host
                            </p>
                            <p>
                              <strong>Path:</strong> ViettelPost/Configuration/ViettelPost
                              API Technical/Connection History
                            </p>
                            <p><strong>Step 1:</strong> Press button Test connection</p>
                            <img alt="step-4" src="./images/step4.png" style="height: auto; width: 100%" />
                        </div>
                        <!-- Address synchronization -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">IV. Address synchronous</p>
                            <p>
                              <strong>Summary:</strong> Synchronous the list of provinces,
                              districts, wards from ViettelPost and save it in odoo. This is
                              required to configure the correct address information in odoo
                              and ensure no errors when connecting to ViettelPost.
                            </p>
                            <p>
                              <strong>Step 1:</strong> Go to
                              ViettelPost/Configuration/Province. Press button Sync Province
                            </p>
                            <img alt="step-5" src="./images/step5.png" style="height: auto; width: 100%" />
                            <p>
                              <strong>Step 2:</strong> Go to
                              ViettelPost/Configuration/District. Press button Sync District
                            </p>
                            <img alt="step-6" src="./images/step6.png" style="height: auto; width: 100%" />
                            <p>
                              <strong>Step 3:</strong> Go to ViettelPost/Configuration/Ward.
                              Press button Sync Ward
                            </p>
                            <img alt="step-7" src="./images/step7.png" style="height: auto; width: 100%" />
                        </div>
                        <!-- Post office synchronization -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">V. Post offices synchronous</p>
                            <p>
                              <strong>Summary:</strong> Synchronous the list of post offices
                              across the country to Odoo. It makes it easy to find the nearest post office at Odoo
                            </p>
                            <p><strong>Path:</strong> ViettelPost/Post Office</p>
                            <p>
                              <strong>Step 1:</strong> Press button Sync Post Office
                            </p>
                            <img alt="step-8" src="./images/step8.png" style="height: auto; width: 100%" />
                        </div>
                        <!-- Service synchronization -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">VI. Service synchronous</p>
                            <p>
                              <strong>Summary:</strong> Synchronous the list of services and
                              extend services available at ViettelPost.
                            </p>
                            <p><strong>Path:</strong> ViettelPost/Service</p>
                            <p>
                              <strong>Step 1:</strong> Press button Sync Service
                            </p>
                            <img alt="step-9" src="./images/step9.png" style="height: auto; width: 100%" />
                            <p>
                              <strong>Step 2:</strong> Press button Sync Extend Service
                            </p>
                            <img alt="step-10" src="./images/step10.png" style="height: auto; width: 100%" />
                        </div>
                        <!-- Warehouse synchronization -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">VII. Warehouse synchronous</p>
                            <p>
                              <strong>Summary:</strong> Synchronous the list of repositories
                              that you have configured on the ViettelPost dashboard.
                            </p>
                            <p><strong>Path:</strong> ViettelPost/Warehouse</p>
                            <p>
                              <strong>Step 1:</strong> Press button Sync Warehouse
                            </p>
                            <img alt="step-11" src="./images/step11.png" style="height: auto; width: 100%" />
                        </div>
                        <!-- Configuration warehouse ViettelPost from Odoo -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">
                              VIII. Configuration warehouse ViettelPost
                            </p>
                            <p>
                              <strong>Summary:</strong> Help you configure directly and
                              quickly a ViettelPost warehouse at Odoo.
                            </p>
                            <p><strong>Path:</strong> ViettelPost/Warehouse</p>
                            <p>
                              <strong>Step 1:</strong> Press button Create
                            </p>
                            <img alt="step-12" src="./images/step12.png" style="height: auto; width: 100%" />
                            <p><strong>Step 2:</strong> Enter warehouse information</p>
                            <img alt="step-13" src="./images/step13.png" style="height: auto; width: 100%" />
                        </div>
                        <!--  Create waybill -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">IX. Create waybill</p>
                            <p>
                              <strong>Summary:</strong> Create a viettelpost bill of lading
                              directly and quickly at Odoo.
                            </p>
                            <p>
                              <strong>Step 1:</strong> Go to Sales/Products. Create and
                              configure a product.
                            </p>
                            <p><strong>Note:</strong> Weight, Depth, Height is required.</p>
                            <img alt="step-14" src="./images/step14.png" style="height: auto; width: 100%" />
                            <p>
                              <strong>Step 2:</strong> Goto Contacts. Create a customer and
                              configure receiver address.
                            </p>
                            <p>
                              <strong>Note:</strong> Street, Ward, District, Province, Phone
                              is required.
                            </p>
                            <p>
                              <strong>Advance:</strong> You can search more and select a
                              ward. Odoo will auto fill district and province.
                            </p>
                            <img alt="step-15" src="./images/step15.png" style="height: auto; width: 100%" />
                            <p><strong>Step 3:</strong> Visit Sale. Create a sale order.</p>
                            <p><strong>Step 3.1:</strong> Add a customer</p>
                            <p><strong>Step 3.2:</strong> Add a product</p>
                            <p><strong>Step 3.3</strong> Action Confirm</p>
                            <img alt="step-16" src="./images/step16.png" style="height: auto; width: 100%" />
                            <p>
                              <strong>Step 3.4:</strong> Now the field Delivery Method will appear. Add a Delivery Method (Select
                              ViettelPost)
                            </p>
                            <p><strong>Step 3.5:</strong> Add a warehouse</p>
                            <p><strong>Step 3.6:</strong> Select product type</p>
                            <p><strong>Step 3.7:</strong> Select National type</p>
                            <p><strong>Step 3.8:</strong> Select Waybill type</p>
                            <img alt="step-17" src="./images/step17.png" style="height: auto; width: 100%" />
                            <p>
                              <strong>Step 3.9:</strong> Press button
                              <strong
                                >Get a list of services that match itinerary</strong> to receive
                                services that match itinerary
                            </p>
                            <img alt="step-18" src="./images/step18.png" style="height: auto; width: 100%" />
                            <p>
                              <strong>Step 3.10:</strong> Select the service and extension
                              service that matches the list of services that match the
                              itineraries obtained.
                            </p>
                            <img alt="step-19" src="./images/step19.png" style="height: auto; width: 100%" />
                            <p>
                              <strong>Step 3.11:</strong> Check information and create
                              waybill
                            </p>
                            <img alt="step-20" src="./images/step20.png" style="height: auto; width: 100%" />
                            <p>
                              <strong>Step 3.12:</strong> Check information 3pls created
                            </p>
                            <img alt="step-20_success" src="./images/step20_success.png" style="height: auto; width: 100%" />
                            <img alt="step-23" src="./images/step23.png" style="height: auto; width: 100%" />
                        </div>
                        <!-- Print and save waybill -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">X. Print and save waybill</p>
                            <p>
                              <strong>Summary:</strong> Print and save the image of the bill
                              of lading information to odoo.
                            </p>
                            <p>
                              <strong>Advance:</strong> You have 3 choices of bill of lading
                              (A5, A6, A7)
                            </p>
                            <p>
                              <strong>Step 1:</strong> Press button
                              <strong>Print waybill</strong>
                              <img alt="step-21" src="./images/step21.png" style="height: auto; width: 100%" />
                            </p>
                            <p>
                              <strong>Step 2:</strong> Choice bill of lading and press
                              button
                            </p>
                            <img alt="step-22" src="./images/step22.png" style="height: auto; width: 100%" />
                            <p><strong>Step 3:</strong> Check bill of lading printed</p>

                            <img alt="step-24" src="./images/step24.png" style="height: auto; width: 100%" />
                        </div>
                        <!-- Update status waybill -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">XI. Update status waybill</p>
                            <p>
                              <strong>Summary:</strong> We will use two main states: confirm
                              and cancel the bill of lading.
                            </p>
                            <p>
                              <strong>Note:</strong> These operations work on both orders
                              and bills of lading.
                            </p>
                            <ol type="1">
                                <li>
                                    <p>Confirm waybill</p>
                                    <p>
                                      <strong>Step 1:</strong> Press button
                                      <strong>Confirm waybill</strong>
                                    </p>
                                    <img
                                      alt="step-25"
                                      src="./images/step25.png"
                                      style="height: auto; width: 100%"
                                    />
                                </li>
                                <li>
                                    <p>Cancel waybill</p>
                                    <p>
                                      <strong>Step 1:</strong> Press button
                                      <strong>Cancel</strong>
                                    </p>
                                    <img
                                      alt="step-26"
                                      src="./images/step26.png"
                                      style="height: auto; width: 100%"
                                    />
                                    <img
                                      alt="step-28"
                                      src="./images/step28.png"
                                      style="height: auto; width: 100%"
                                    />
                                </li>
                            </ol>
                        </div>
                        <!-- Tracking log connect api -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">XII. Tracking log connect api</p>
                            <p>
                              <strong>Summary:</strong> Track all connection requests with
                              api ViettelPost.
                            </p>
                            <p>
                              <strong>Path:</strong> ViettelPost/Configuration/ ViettelPost
                              API Technical/Connection History
                            </p>
                            <img alt="step-27" src="./images/step27.png" style="height: auto; width: 100%" />
                        </div>
                        <!-- Configuration endpoint of API ViettelPost -->
                        <div style="margin-bottom: 20px;">
                            <p class="font-weight-bold" style="color: #FFBD59; font-size: 18px;">XIII. Configuration endpoint of API ViettelPost</p>
                            <p>
                              <strong>Summary:</strong> If there are technical changes to the API endpoints from
                                ViettelPost, you will easily change the endpoint of the interface connected to the
                                ViettelPost API right on the Odoo client.
                            </p>
                            <p>
                              <strong>Note:</strong> The Odoo will automatically create a function list endpoint that
                                is available in the system. Make sure you have a look at the API interfaces before
                                editing them.
                            </p>
                            <p>
                              <strong>Path:</strong> ViettelPost/Configuration/ ViettelPost
                              API Technical/Endpoint Config
                            </p>
                            <img alt="step-29" src="./images/step29.png" style="height: auto; width: 100%" />
                        </div>
                    </div>
                </section>
            </div>
            <div id="release"
                 class="tab-pane fade"
                 role="tabpanel"
                 aria-labelledby="pill-release-tab">
                <div class="tangerine_content" style="border: 2px solid #aaa;padding: 20px;margin-bottom: 20px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); border-radius: 8px;">
                    <h4 style="font-size: 16px;margin: 0;color: #212121;text-decoration: none;font-weight: 600;letter-spacing: 1px;display: block;">
                        <span style="color: #71639e;">Version 15.0.1.2</span> | <span style="color: #FFBD59;">Released on: December 22, 2022</span></h4>
                        <ul class="list-unstyled" style="list-style-type: disc;font-size: 16px;padding-left: 20px;color: #555;margin: 0;padding-top: 20px;">
                            <li style="list-style:none;font-weight: normal;">Clean code & increase performance.</li>
                        </ul>
                </div>
                <div class="tangerine_content" style="border: 1px solid #aaa;padding: 20px;margin-bottom: 20px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); border-radius: 8px;">
                    <h4 style="font-size: 16px;margin: 0;color: #212121;text-decoration: none;font-weight: 600;letter-spacing: 1px;display: block;">
                        <span style="color: #71639e;">Version 15.0.1.1</span> | <span style="color: #FFBD59;">Released on: December 6, 2022</span>
                    </h4>
                    <ul class="list-unstyled" style="list-style-type: disc;font-size: 16px;padding-left: 20px;color: #555;margin: 0;padding-top: 20px;">
                        <li style="list-style:none;font-weight: normal;">
                            <span class="badge badge-success" style="background-color: #43A047 !important;
                                padding: 5px 17px;
                                border-radius: 3px;
                                color: #fff;
                                font-size: 9px;
                                text-transform: uppercase;
                                font-weight: bold;
                                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">Feature</span> Configuration endpoint of API ViettelPost on Odoo client.</li>
                        </ul>
                </div>
                <div class="tangerine_content" style="border: 2px solid #aaa;padding: 20px;margin-bottom: 20px; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); border-radius: 8px;">
                    <h4 style="font-size: 16px;margin: 0;color: #212121;text-decoration: none;font-weight: 600;letter-spacing: 1px;display: block;">
                        <span style="color: #71639e;">Version 15.0.1.0</span> | <span style="color: #FFBD59;">Released on: December 1, 2022</span></h4>
                        <ul class="list-unstyled" style="list-style-type: disc;font-size: 16px;padding-left: 20px;color: #555;margin: 0;padding-top: 20px;">
                            <li style="list-style:none;font-weight: normal;">Initial release.</li>
                        </ul>
                </div>
            </div>
            <div id="contact"
                 class="tab-pane fade"
                 role="tabpanel"
                 aria-labelledby="pill-contact-tab">
                <div class="container">
                    <p style="color: #777;font-size: 18px;margin: 0;letter-spacing: 1px; margin-bottom: 20px;">
                        If you have problems installing and using the app. Please contact me via Gmail or Skype
                        at the link below. Best regards!
                    </p>
                    <div class="text-center mb-3">
                        <a href="mailto:odoo.tangerine@gmail.com" target="_blank" style="color:#091E42; font-family:Montserrat; display:inline-block; padding:13px 30px; border:1px solid #0074ff; border-radius:10px" class="mx-1 mb-2 deep-1 deep_hover">
                            <span class="fa fa-envelope-o mr-2" style="color:#0074ff; font-size:20px; vertical-align:middle"></span>
                            <span style="color:#0f1e40; font-size:16px; vertical-align:middle">Email</span>
                        </a>
                        <a href="skype:live:.cid.219379873c9199d1?chat" target="_blank" style="color:#091E42; font-family:Montserrat; display:inline-block; padding:13px 30px; border:1px solid #0074ff; border-radius:10px" class="mx-1 mb-2 deep-1 deep_hover">
                            <span class="fa fa-skype mr-2" style="color:#0074ff; font-size:20px; vertical-align:middle"></span>
                            <span style="color:#0f1e40; font-size:16px; vertical-align:middle">Skype</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>